<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Block\Adminhtml\Order\View\Items" type="Mengento\Thumbnail\Block\Adminhtml\Order\View\Items"/>
    <preference for="Magento\Sales\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer" type="Mengento\Thumbnail\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer"/>
</config>
